body {
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 250px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.card-img {
  width: 200px;
  height: 200px;
}

.result{
  padding-left: 10px;
}

.participants {
    display: grid;
    grid-gap: 5px;
    margin-top: 15px;
    grid-auto-flow: column; 
}

.prarticipant-month-calendar{

  display: grid;
  grid-auto-flow: column; 
  grid-gap: 5px;
  margin-top: 15px;
  width: min-content;
}

.prarticipant-month-calendar-day-box{
  width: 15px;
  height: 15px;
  position: relative;
}

.compleated-day-aim{
  background-color: green;
}

.partially-compleated-day-aim{
  background-color: yellow;
}

.failed-day-aim{
  background-color: rgba(253, 109, 109, 0.486);
}

.month-calendar-participant-name{
  width: 200px;
}

.prarticipant-month-calendar-day-box .day-box-info {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.prarticipant-month-calendar-day-box .day-box-info::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.prarticipant-month-calendar-day-box:hover .day-box-info {
  visibility: visible;
  opacity: 1;
}